@import 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.map {
    margin-top: 0px;
    height: 943px;
    width: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 6 / 2;
}

.div2 {
    grid-area: 1 / 2 / 6 / 8;
}

.v {
    height: 640px;
    width: 100%;
}